<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center">
  <div style="height: 30px;"></div>
  <img src="https://secure.jhu.edu/sites/all/themes/water_institute/images/gift-box.png" style="padding-top: 20px; padding-bottom: 0px; height:100px;"><br>
  <h1 class="home">MRKT</h1>

  <h2>
    One man's trash is another man's <span style="color:#27ae60;">treasure</span>
  </h2>


  <%= link_to "REGISTER", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>