<div class="center">
  <div style="height: 30px;"></div>
  <img src="https://secure.jhu.edu/sites/all/themes/water_institute/images/gift-box.png" style="padding-top: 20px; padding-bottom: 0px; height:100px;"><br>
  <h1 class="home">MRKT</h1>

  <h2>
    One man's trash is another man's <span style="color:#27ae60;">treasure</span>
  </h2>


  <%= link_to "REGISTER", signup_path, class: "btn btn-lg btn-primary" %>
</div>
