<li class="col-sm-4">
  <%= gravatar_for user, size: 100 %>
  <%= link_to user.name, user, {:style=>'font-size: 16px; text-decoration:underline'} %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>