<% @user ||= current_user %>
<div class="stats">
  <a class="follow-me" style="text-decoration: none;" href="">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a class="follow-me" style="text-decoration: none;" href="">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>