// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

.debug_dump{
  display: none !important;
}
.link{
  font-family:"Gotham-Medium",Helvetica,Arial,sans-serif;
  font-size: 20px !important;
  letter-spacing: 1px !important;
}

a{
  color: #FFB300;
}

a:hover{
  text-decoration: none;
  color:#cc8f00;
  -webkit-transition: .2s ease 0s;
  transition: .2s ease 0s;
}

body{
  padding-top: 50px !important;
  background: white;

}

header{
  margin-bottom: 0 !important;
}

.intro{
  background: #61C791 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00C9FF , #92FE9D) !important;
}

h1{
  padding-top: 80px;
  font-family:"Gotham-Bold",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;

}

.section{
  font-size: 32px !important;
  line-height: 36.6px;
  color: #484848 !important;
  letter-spacing: 0px !important;
}

.small-section{
  font-family:"Gotham-Medium",Helvetica,Arial,sans-serif;
  font-size: 20px !important;
  color: white !important;
  letter-spacing: 1px !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2% !important;
  padding-left: 7% !important;
  padding-right: 0 !important;
  text-align: left !important;

}

.home{
  line-height: 80px;
  color: white !important;
  padding-top: 0px;
  font-size: 70px !important;
  padding-bottom: 60px;
}

h2{
  font-family:"Gotham-Light",Helvetica,Arial,sans-serif !important;
  letter-spacing: 2px;
  font-size: 32px !important;
  font-weight: 400;
  color: white !important;
  padding-bottom: 60px;
}

.btn-primary{
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  border-radius: 3px;
  width: 200px;
  font-family:"Gotham-Light",Helvetica,Arial,sans-serif !important;
  font-size: 20px;

}



.small{
  border-color: #FFB300 !important;
  color: white !important;
  font-size: 16px !important;
  width: 150px !important;
  background-color: #FFB300 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.big{
  border-color: #FFB300 !important;
  color: white !important;
  width: 100% !important;
  background-color: #FFB300 !important;
}

.small:hover, .big:hover{
  background-color: white !important;
  color: #FFB300 !important;
  -webkit-transition: .2s ease 0s;
  transition: .2s ease 0s;
}

.small:active, .big:active{
  background-color: white !important;
  color: #FFB300 !important;
  -webkit-transition: .2s ease 0s;
  transition: .2s ease 0s;
}

.small:focus, .big:focus{
  background-color: white !important;
  color: #FFB300 !important;
  -webkit-transition: .2s ease 0s;
  transition: .2s ease 0s;
}

.btn-primary:hover{
  box-shadow: 0px 0px 0px 4px white;
  -webkit-transition: .2s ease 0s;
  transition: .2s ease 0s;
  background-color: transparent;
  border-color: white;
}

.btn-primary:active{
  box-shadow: 0px 0px 0px 4px white !important;
  -webkit-transition: .2s ease 0s !important;
  transition: .2s ease 0s !important;
  background-color: transparent !important;
  border-color: white !important;
}

.btn-primary:focus{
  box-shadow: 0px 0px 0px 4px white !important;
  -webkit-transition: .2s ease 0s !important;
  transition: .2s ease 0s !important;
  background-color: transparent !important;
  border-color: white !important;


}
form{
  padding-left: 20%;
  padding-right: 20%;
}

label{
  font-family:"Gotham-Book",Helvetica,Arial,sans-serif !important;
  font-size: 16px !important;
  color: #999;
  font-weight: normal;
}

.form-control{
  font-family:"Gotham-Book",Helvetica,Arial,sans-serif !important;
  font-size: 16px !important;
  color: #484848;
  font-weight: normal;
  border-color: #999;
  border-radius: 3px;
  background: transparent;
  padding-top: 14px;
  padding-bottom: 14px;
}

p{
  font-family:"Gotham-Book",Helvetica,Arial,sans-serif !important;
  font-size: 16px !important;
  padding-left: 20%;
  padding-right: 20%;
  color: #999;
  padding-bottom: 30px;
}



.navbar-inverse{
  box-shadow: 2px 2px 1px #e5e5e5;
  border: none !important;
  background-color: white;
}

.navbar-inverse .navbar-nav > li > a{
  color: #484848 !important;
  font-family:"Gotham-Book",Helvetica,Arial,sans-serif !important;
  font-size: 16px !important;
  font-weight: 300;
  transition: top ease 0.5s;
  position: relative !important;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.navbar-inverse .navbar-nav > li > a:hover{
  border-top: 4px solid #00C9FF;
  position: relative !important;
  -webkit-transition: .1s ease 0s;
  transition: .1s ease 0s;

}

.grid {
  background: white;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  border: 5px solid white;
  background: rgba(0, 0, 0, .6);
}

